{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ইস্টিশন</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/animation1.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
</head>

<body>
   <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(118,35,35);padding: 18.2px 0px;background: linear-gradient(47deg, rgb(240,255,234), rgb(240,255,234) 99%);">
            <div class="container">
                <strong><img src="assets/img/testlogo.png" style="cursor:context-menu;width: 120px;height: 70px;margin-top: -20px;margin-bottom: -13px"></strong>
                <div class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active link link-four pulse-grow-on-hover" href="http://127.0.0.1:8000/" style="color: #070606;background-color: #f5fff1;padding: 0px;">Home</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active link link-four pulse-grow-on-hover" href="login" style="color: #070606;background-color: #f5fff1;padding: 0px;">Log in</a></li>
                    <li class="nav-item"><a class="nav-link active link link-four pulse-grow-on-hover" href="registration" style="color: #070606;background-color: #f5fff1;padding: 0px;">Register</a></li>
                    <li class="nav-item"><a class="nav-link active link link-four pulse-grow-on-hover" href="updateinfo" style="color: #070606;background-color: #f5fff1;padding: 0px;">Dashboard</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active link link-four pulse-grow-on-hover" href="contactus" style="color: #070606;background-color: #f5fff1;padding: 0px;">Contact us</a></li>
                    <li class="nav-item" style="cursor:pointer;padding-right: 0px;"><a class="nav-link active link link-four pulse-grow-on-hover" onclick="logout()" style="color: #070606;background-color: #f5fff1;padding: 0px;">Log out</a></li>
                </ul>
        </div>
            </div>
        </nav>

    <div style="padding-top: 95px;">
        {% if statusgreen %}
    <div style="z-index: 2; padding: 0px;margin: 0px;height: 0px;">
        <label id="LOADING" data-aos="fade-down" data-aos-delay="0" data-aos-duration="300" style="margin-top: 0px;margin-left: 879.5px;width: 450px;height: 35px;background: green;text-align: left;padding-left: 10px;padding-top:5px;color: white"><strong>{{ statusgreen }}</strong></label>
    </div>
            {% elif statusred %}
    <div style="z-index: 2; padding: 0px;margin: 0px;height: 0px;">
        <label id="LOADING2" data-aos="fade-down" data-aos-delay="0" data-aos-duration="300" style="margin-top: 0px;margin-left: 879.5px;width: 450px;height: 35px;background: #cf2222;text-align: left;padding-left: 10px;padding-top:5px;color: white"><strong>{{ statusred }}</strong></label>
    </div>
    {% endif %}
        <div class="container" style="z-index: 1; background: url(&quot;assets/img/train6.jpg&quot;) center / cover no-repeat;">
            <section style="padding-top: 25px;background: rgba(0,0,0,0.85);padding-right: 20px;padding-left: 20px;">
                <h1 style="padding-bottom: 20px;color: rgb(255,255,255);font-size: 28px;">Personal Information</h1>
                <div class="row" style="padding-left: 10px;">
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">Name:</h1>
                        {% if fullname %}
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{fullname}}</p>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">E-mail:</h1>
                        {% if mail %}
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{mail}}</p>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">Address:</h1>
                        {% if address %}
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{address}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="padding-left: 10px;padding-bottom: 20px;">
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">Contact Number:</h1>
                        {% if contact %}
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{contact}}</p>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">PNR Number:</h1>
                        {% if pnr %}
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{pnr}}</p>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">National ID Number:</h1>
                        {% if nid %}
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{nid}}</p>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
    <main class="text-center page lanidng-page" style="text-align: center;padding: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;"></main>
    <div style="padding-left: 25px;padding-top: 10px;padding-right: 25px;padding-bottom: 25px;">
        <div class="container" style="padding-left: 0px;padding-right: 0px;">
            <h1 style="background: #58a25b;padding: 10px;text-align: left;padding-left: 10px;margin: 0px;">Dashboard</h1>
            <div class="row" style="padding-left: 15px;padding-top: 10px;padding-right: 15px;">
                <div class="col-md-3" style="background:rgb(240,255,234);padding-left: 0px;">
                    <div class="row">
                        <div class="col-lg-12 offset-lg-0" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a class="pulse-grow-on-hover" href="updateinfo" style="text-decoration:none;"><i class="fa fa-user" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Update User Profile</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a class="pulse-grow-on-hover" href="changepass" style="text-decoration:none;"><i class="fa fa-lock" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Change Password</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a class="pulse-grow-on-hover" href="changemail" style="text-decoration:none;"><i class="fa fa-envelope-o" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Change E-mail</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a class="pulse-grow-on-hover" href="changenum" style="text-decoration:none;"><i class="fa fa-mobile-phone" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Change Contact Number</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a class="pulse-grow-on-hover" href="prev" style="text-decoration:none;"><i class="fa fa-backward" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Previous Journeys</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a class="pulse-grow-on-hover" href="upcoming" style="text-decoration:none;"><i class="fa fa-forward" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Upcoming Journeys</span></a></div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div style="padding-left: 10px;padding-top: 10px;padding-right: 0px;"><i class="fa fa-lock" style="padding-right: 10px;font-size: 36px;"></i>
                        <h1 class="d-inline" style="font-size: 36px;padding-top: 10px;">Change Password</h1>
                        <hr style="height:0.8px;border-width:0;color:black;background-color:black">
                        <form action="" method="post" style="padding-bottom: 10px;">
                            {%  csrf_token %}
                            <div class="form-group"><label>Current Password</label><input class="form-control" name="pass" type="password" placeholder="Password" required></div>
                            <div class="form-group"><label>New Password</label><input class="form-control" name="newpass" id="password" type="password" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required></div>
                            <div class="form-group"><label>Confirm New Password</label><input class="form-control" id="confirm_password" type="password" placeholder="Re-type Password" required></div>

                        <hr style="height:0.8px;border-width:0;color:black;background-color:black">
                        <button id="demo" class="btn btn-primary border rounded" type="submit" style="margin-bottom: 35px;width: 100%;background: #58a25b;color: rgb(0,0,0);">Change Password</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
          <script>
            AOS.init(
                {
                    offset: 200, // offset (in px) from the original trigger point
                    once: true,
                    mirror:true,
                    duration: 1500, // values from 0 to 3000, with step 50ms
                }
            );
          </script>

</body>
    <script>
    var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    </script>
<script>
function logout() {
            window.location.href = "{% url 'login' %}" +"?logged_out="+"1";
          }

</script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING').style.display = 'none';
    }, 4000);
    </script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING2').style.display = 'none';
    }, 4000);
    </script>
<script>
document.getElementById("demo").onmouseover = function() {mouseOver()};
document.getElementById("demo").onmouseout = function() {mouseOut()};

function mouseOver() {
  document.getElementById("demo").style.background = "rgb(23, 143, 74)";
  document.getElementById("demo").style.boxShadow="0px 2px 5px #696969";
  document.getElementById("demo").style.color="white";

}

function mouseOut() {
  document.getElementById("demo").style.background = "#58a25b";
  document.getElementById("demo").style.boxShadow="none";
  document.getElementById("demo").style.color="black";
}
</script>
</html>