<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(118,35,35);padding: 18.2px 0px;background: linear-gradient(47deg, rgb(245,255,241), rgb(245,255,241) 99%);">
        <div class="container"><a class="navbar-brand logo" href="#" style="background: rgba(255,255,255,0);padding-left: 10px;color: rgb(0,0,0);text-align: left;"><strong>Railsheba</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="navbar-toggler-icon" style="filter: brightness(0%);"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="http://127.0.0.1:8000/" style="color: #070606;">Home</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="login" style="color: #070606;">Log in</a></li>
                    <li class="nav-item"><a class="nav-link active" href="registration" style="color: #070606;">Register</a></li>
                    <li class="nav-item"><a class="nav-link active" href="updateinfo" style="color: #070606;">Dashboard</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="contactus" style="color: #070606;">Contact us</a></li>
                    <li class="nav-item" style="padding-right: 0px;"><a class="nav-link active" onclick="logout()" style="color: #070606;padding: 8px 0px 8px 8px;">Log out</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div style="padding-top: 95px;">
        <div class="container" style="background: url(&quot;assets/img/train6.jpg&quot;) center / cover no-repeat;">
            <section style="padding-top: 25px;background: rgba(0,0,0,0.85);padding-right: 20px;padding-left: 20px;">
                <h1 style="padding-bottom: 20px;color: rgb(255,255,255);font-size: 28px;">Personal Information</h1>
                <div class="row" style="padding-left: 10px;">
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">Name:</h1>
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{fullname}}</p>
                    </div>
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">E-mail:</h1>
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{mail}}</p>
                    </div>
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">Address:</h1>
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{address}}</p>
                    </div>
                </div>
                <div class="row" style="padding-left: 10px;padding-bottom: 20px;">
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">Contact Number:</h1>
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{contact}}</p>
                    </div>
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">PNR Number:</h1>
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{pnr}}</p>
                    </div>
                    <div class="col">
                        <h1 style="font-size: 16px;color: rgb(118,118,118);">National ID Number:</h1>
                        <p style="font-size: 16px;color: rgb(255,255,255);padding-bottom: 25px;">{{nid}}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <main class="text-center page lanidng-page" style="text-align: center;padding: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;"></main>
    <div style="padding-left: 25px;padding-top: 10px;padding-right: 25px;padding-bottom: 25px;">
        <div class="container" style="padding-left: 0px;padding-right: 0px;">
            <h1 style="background: rgb(104,171,80);padding: 10px;text-align: left;padding-left: 10px;margin: 0px;">Dashboard</h1>
            <div class="row" style="padding-left: 15px;padding-top: 10px;padding-right: 15px;">
                <div class="col-md-4" style="background: #f5fff1;padding-left: 0px;">
                    <div class="row">
                        <div class="col-lg-12 offset-lg-0" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a href="updateinfo" style="text-align: center;padding: 0px;height: 48px;width: 200px;"><i class="fa fa-user" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Update User Profile</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a href="changepass"><i class="fa fa-lock" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Change Password</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a href="changemail"><i class="fa fa-envelope-o" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Change E-mail</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a href="changenum"><i class="fa fa-mobile-phone" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Change Contact Number</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a href="prev"><i class="fa fa-backward" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Previous Journeys</span></a></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;padding-top: 14px;padding-bottom: 14px;padding-left: 40px;"><a href="upcoming"><i class="fa fa-forward" style="color: rgb(0,0,0);font-size: 18px;padding-right: 5px;"></i><span style="color: rgb(0,0,0);font-size: 18px;">Upcoming Journeys</span></a></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div style="padding-left: 10px;padding-top: 10px;padding-right: 0px;"><i class="fa fa-mobile" style="padding-right: 10px;font-size: 36px;"></i>
                        <h1 class="d-inline" style="font-size: 36px;padding-top: 10px;">Change Contact Number</h1>
                        <hr style="color: rgb(0,0,0);background: #000000;">
                        <form style="padding-bottom: 10px;">
                            <div class="form-group"><label>Current Mobile Number</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">+880</span></div><input class="form-control" type="tel">
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                            <div class="form-group"><label>New Mobile Number</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">+880</span></div><input class="form-control" type="tel">
                                    <div class="input-group-append"></div>
                                </div>
                            </div><button class="btn btn-primary border rounded" type="button" style="margin-bottom: 10px;width: auto;background: rgb(104,171,80);color: rgb(0,0,0);">Send Verification Code</button>
                            <div class="form-group"><label>Verification Code</label><input class="form-control" type="password" placeholder="Code"></div>
                            <div class="form-group"><label>Password</label><input class="form-control" type="password" placeholder="Password"></div>
                        </form>
                        <hr style="background: rgba(0,0,0,0.5);color: rgb(0,0,0);margin-bottom: 32px;"><button class="btn btn-primary border rounded" type="button" style="margin-bottom: 35px;width: 720px;background: rgb(104,171,80);color: rgb(0,0,0);">Verify Code and Change Contact Number</button></div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>
<script>
function logout() {
            window.location.href = "{% url 'login' %}" +"?logged_out="+"1";
          }

</script>

</html>