<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(118,35,35);padding: 18.2px 0px;background: linear-gradient(47deg, rgb(245,255,241), rgb(245,255,241) 99%);">
        <div class="container"><a class="navbar-brand logo" href="#" style="background: rgba(255,255,255,0);padding-left: 10px;color: rgb(0,0,0);text-align: left;"><strong>Railsheba</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="navbar-toggler-icon" style="filter: brightness(0%);"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="http://127.0.0.1:8000/" style="color: #070606;">Home</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="login" style="color: #070606;">Log in</a></li>
                    <li class="nav-item"><a class="nav-link active" href="registration" style="color: #070606;">Register</a></li>
                    <li class="nav-item"><a class="nav-link active" href="updateinfo" style="color: #070606;">Dashboard</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="contactus" style="color: #070606;">Contact us</a></li>
                    <li class="nav-item" style="padding-right: 0px;"><a class="nav-link active" onclick="logout()" style="color: #070606;padding: 8px 0px 8px 8px;">Log out</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 120px;border-width: 0px;border-style: none;border-right-width: 1px;border-left-width: 1px;">
        <div class="row" style="border-width: 0px;border-style: solid;border-right-width: 1px;border-left-width: 1px;margin-bottom: 40px;">
            <div class="col">
                <h1 style="background: rgb(104,171,80);padding-left: 10px;padding-right: 10px;">Contact Us</h1>
                <div class="row" style="padding-left: 15px;border-width: 1px;border-style: none;margin-top: 20px;padding-right: 15px;padding-bottom: 5px;">
                    <div class="col" style="background: rgb(245,255,241);">
                        <p>For refund of unsuccessful purchases and card charging issues<br></p>
                    </div>
                    <div class="col" style="background: rgb(245,255,241);">
                        <div class="row">
                            <div class="col">
                                <p>VISA/MASTER Cards<br><br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Rocket / DBBL Nexus Cards<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>bKash<br><br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="background: rgb(245,255,241);">
                        <div class="row">
                            <div class="col">
                                <p>16234<br>+88-02-8331040<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>16216</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>16247<br><br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-left: 15px;border-width: 1px;border-style: none;padding-right: 15px;padding-bottom: 5px;">
                    <div class="col" style="background: rgb(245,255,241);">
                        <p>For refund of successfully purchased tickets<br></p>
                    </div>
                    <div class="col" style="background: rgb(245,255,241);">
                        <p>Visit your originating station ( Name of the Station From which you wanted to travel )<br><br><br></p>
                    </div>
                    <div class="col" style="background: rgb(245,255,241);">
                        <p>Contact the refund counter<br></p>
                    </div>
                </div>
                <div class="row" style="padding-left: 15px;border-width: 1px;border-style: none;padding-right: 15px;padding-bottom: 30px;">
                    <div class="col" style="background: rgb(245,255,241);">
                        <p>For Technical Support<br><br></p>
                    </div>
                    <div class="col" style="background: rgb(245,255,241);">
                        <p>Tech Support Team<br><br></p>
                    </div>
                    <div class="col" style="background: rgb(245,255,241);">
                        <p>esheba-ticket@cnsbd.com<br>+880-1401168806<br>(9:00 AM to 6:00 PM)<br><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="text-center page lanidng-page" style="text-align: center;padding: 22px 22px 22px;"><img src="assets/img/1.png"><img src="assets/img/2.png"><img src="assets/img/3.png"><img src="assets/img/4.png"><img src="assets/img/5.png"><img src="assets/img/6.png"></main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>
<script>
function logout() {
            window.location.href = "{% url 'login' %}" +"?logged_out="+"1";
          }

</script>

</html>