<!doctype html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Trains</title>
</head>
<body>
<h1>Trains</h1>
<table width="100%" border="1">
    <tr>
        <th>TRAIN_ID</th>
        <th>NAME</th>
        <th>ARRIVAL TIME</th>
        <th>DEPARTURE TIME</th>
    </tr>
    {% for train in trains %}
    <tr>
        <td>{{train.TRAIN_ID}}</td>
        <td>{{train.NAME}}</td>
        <td>{{train.ARRIVAL_TIME}}</td>
        <td>{{train.DEPARTURE_TIME}}</td>
    </tr>
    {% endfor %}

</table>


</body>
</html>
