<!doctype html>
{% load static %}

<html lang="eng">
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static  'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static "fonts/font-awesome.min.css"%}">
    <link rel="stylesheet" href="{% static "fonts/ionicons.min.css"%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Trains</title>
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(118,35,35);padding: 18.2px 0px;background: linear-gradient(47deg, rgb(245,255,241), rgb(245,255,241) 99%);">
        <div class="container"><a class="navbar-brand logo" href="#" style="text-align: left;background: rgba(255,255,255,0);color: rgb(0,0,0);"><strong>Railsheba</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="navbar-toggler-icon" style="filter: brightness(0%);"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="http://127.0.0.1:8000/" style="color: #070606;">Home</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="login" style="color: #070606;">Log in</a></li>
                    <li class="nav-item"><a class="nav-link active" href="registration" style="color: #070606;">Register</a></li>
                    <li class="nav-item"><a class="nav-link active" href="updateinfo" style="color: #070606;">Dashboard</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="contactus" style="color: #070606;">Contact us</a></li>
                    <li class="nav-item" style="padding-right: 0px;"><a class="nav-link active" onclick="logout()"  style="color: #070606;padding: 8px 0px 8px 8px;">Log out</a></li>
                </ul>
        </div>
        </div>
    </nav>
<fieldset style="padding-top: 100px;">
<div class="flex-grow-1 flex-shrink-1 flex-fill" style="height: 100px;background: url(&quot;assets/img/train6.jpg&quot;) center / cover repeat, rgba(0,153,89,0.52);opacity: 1;filter: brightness(98%) contrast(107%);border-radius: 10px;margin-bottom: 10px;width: 1566px;">
            <div class="container flex-grow-1 flex-shrink-1 flex-fill" style="background: rgba(33,37,41,0.81);width: 1566px;height: 100px;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;max-width: none;"><i class="icon ion-location" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;background: rgba(255,255,255,0);color: rgb(255,255,255);"></i><label style="background: rgba(255,255,255,0);color: #ffffff;">From</label><i class="icon ion-location"
                    style="width: 20px;height: 20px;margin-right: 5px;margin-left: 200px;background: rgba(255,255,255,0);color: rgb(255,255,255);"></i><label style="margin-left: 5px;color: rgb(255,255,255);">To</label><i class="fa fa-calendar-times-o" style="margin-left: 200px;margin-right: 5px;background: rgba(255,255,255,0);color: rgb(255,255,255);"></i>
                <label
                    style="color: rgb(255,255,255);">Date</label><i class="fa fa-train" style="margin-left: 200px;margin-right: 5px;color: rgb(255,255,255);"></i><label style="color: rgb(255,255,255);">Class</label><i class="icon ion-person" style="margin-right: 5px;margin-left: 190px;color: rgb(255,255,255);"></i>
                    <label
                        style="color: rgb(255,255,255);">Adult</label><i class="fa fa-child" style="margin-left: 190px;margin-right: 0px;color: rgb(255,255,255);"></i><label style="color: rgb(255,255,255);">Child</label>
                        <div style="height: 30px;background: rgba(0,153,81,0.03);width: 100%;"><label style="margin-left: 5px;color: rgb(255,255,255);">{{ details.from}}</label><label style="margin-left: 190px;color: rgb(255,255,255);">{{details.to}}</label><label style="margin-left: 190px;color: rgb(255,255,255);">{{details.date}}</label><label style="margin-left: 190px;color: rgb(255,255,255);">{{details.class}}</label>
                            <label
                                style="margin-left: 190px;color: rgb(255,255,255);">{{details.adult}}</label><label style="margin-left: 190px;color: rgb(255,255,255);">{{details.child}}</label></div>
                <div><a href="http://127.0.0.1:8000/" style="color:#f0f0f0;"><u>Change</u></a></div>
            </div>

        </div>
</fieldset>
<div style="height: 50px; margin-left:50px;"><label style="width: 1450px;background: rgb(104,171,80);height: 50px;padding-top: 5px;padding-left:5px;color: #212529;font-size: 24px;"><strong>Results :</strong></label></div>
{% if trains %}
<table class="table table-striped table-sm"  style="width:95%;margin-left: 50px;margin-top: 20px ;background: linear-gradient(47deg, rgb(245,255,241), rgb(245,255,241) 99%)">
    <tr>
        <th style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;">TRAIN ID</th>
        <th style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;">NAME</th>
        <th style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;">DEPARTURE TIME</th>
        <th style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;">ARRIVAL TIME</th>
        <th style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;">TOTAL COST</th>
        <th style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;">SELECT THE SUITABLE TRAIN</th>
    </tr>
    {% for train in trains %}
    <tr>
        <td style="text-align: center;padding-top: 35px">{{train.TRAIN_ID}}</td>
        <td style="text-align: center;padding-top: 35px">{{train.NAME}}</td>
        <td style="text-align: center;padding-top: 35px">{{train.DEPARTURE_TIME}}</td>
        <td style="text-align: center;padding-top: 35px">{{train.ARRIVAL_TIME}}</td>
        <td style="text-align: center;padding-top: 35px">{{cost}}</td>
        <td><div class="mx-5 p-4 text-center">
    <a class="btn btn-primary" id="{{ train.TRAIN_ID }}" onclick="getid(id)" style="background: rgb(104,171,80)">Purchase</a>
           {% if request.GET.name|slice:":1" == '1' %}
            <a id="{{train.TRAIN_ID}}_{{train.NAME}}" onclick="getname2(id)"  type="button" class="btn btn-primary" style="background: rgb(104,171,80)">Availability</a>
            {% else %}
            <a id="{{train.TRAIN_ID}}_{{train.NAME}}" onclick="getname(id)"  type="button" class="btn btn-primary" style="background: rgb(104,171,80)">Availability</a>
            {% endif %}


</div></td>
    </tr>
    {% endfor %}
</table>
    {% else %}
     <label style="margin-left: 50px;margin-top: 20px;font-size: 24px"><strong>No available train from source to destination</strong></label>
    <svg xmlns="http://www.w3.org/2000/svg" style="margin-left:10px;padding-top: 0px" width="1em" height="2em" font-size="50px" viewBox="0 0 24 24" fill="none"><path d="M9 11C9.55228 11 10 10.5523 10 10C10 9.44772 9.55228 9 9 9C8.44772 9 8 9.44772 8 10C8 10.5523 8.44772 11 9 11Z" fill="currentColor"></path><path d="M14 17C14 15.8954 13.1046 15 12 15C10.8954 15 10 15.8954 10 17H8C8 14.7909 9.79086 13 12 13C14.2091 13 16 14.7909 16 17H14Z" fill="currentColor"></path><path d="M16 10C16 10.5523 15.5523 11 15 11C14.4477 11 14 10.5523 14 10C14 9.44772 14.4477 9 15 9C15.5523 9 16 9.44772 16 10Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z" fill="currentColor"></path></svg>
{% endif %}
    {% if request.GET.name|slice:":1" == '1' %}
        <table id="myDIV" class="table table-striped table-sm" style="width:95%;border:2px; margin-left: 50px;margin-top: 20px ;background: linear-gradient(47deg, rgb(245,255,241), rgb(245,255,241) 99%)">

         <th width="350px" style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;"> CLASS </th>
        <th  width="350px" style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;"> AVAILABLE SEATS </th>
        <th  width="350px" style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;"> FAIR(ADULT) </th>
        <th  width="350px" style="background: rgb(104,171,80);height: 50px;padding-top: 5px;text-align:center;color: #212529;font-size: 24px;"> FAIR(CHILD) </th>
    </tr>
               <tr>
                   {% for a in available_seats %}
        <td style="text-align: center">SNIGDHA</td>
        <td style="text-align: center">{{ a.snigdha }}</td>
        <td style="text-align: center">BDT {{ snigdha_fare.0 }}</td>
        <td style="text-align: center">BDT {{ snigdha_fare.1 }} </td>
               </tr>
               <tr>

        <td style="text-align: center">S_CHAIR</td>
        <td style="text-align: center">{{ a.s_chair }}</td>
        <td style="text-align: center">BDT {{ snigdha_fare.2 }}</td>
        <td style="text-align: center">BDT {{ snigdha_fare.3 }}</td>
               </tr>
               <tr>
        <td style="text-align: center">SHOVAN</td>
        <td style="text-align: center">{{ a.shovan }}</td>
        <td style="text-align: center">BDT {{ snigdha_fare.4 }}</td>
        <td style="text-align: center">BDT {{ snigdha_fare.5 }}</td>
                   {% endfor %}
               </tr>
               </table>
{% endif %}
</div>



<main class="text-center page lanidng-page" style="text-align: center;padding: 22px 22px 22px;"><img src="assets/img/1.png"><img src="assets/img/2.png"><img src="assets/img/3.png"><img src="assets/img/4.png"><img src="assets/img/5.png"><img src="assets/img/6.png"></main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script>

    function getid(ID) {
            var txt = document.getElementById(ID).id;
            window.location.href = "{% url 'seat_selection' %}" +"?id="+txt;
          }
          function getname(ID) {
            var text = document.getElementById(ID).id;
            window.location.href = "{% url 'train' %}" +"?name="+'1'+text;
          }
          function getname2(ID) {
            var text = document.getElementById(ID).id;
            window.location.href = "{% url 'train' %}" +"?name="+'0'+text;
          }

</script>
<script>
function logout() {
            window.location.href = "{% url 'login' %}" +"?logged_out="+"1";
          }

</script>
</html>