{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">

</head>
<body>

    <div class="text-center login-dark" style="background: url(&quot;assets/img/train6.jpg&quot;);color: rgb(0,0,0);width: 100%;height: 800px;">
        {% if status %}
        <label id="LOADING" style="margin-top: 75px;margin-left: 680px;width: 450px;height: 35px;background: #cf2222;text-align: left;padding-left: 5px;color: white"><strong>{{ status }}</strong></label>
         {% elif request.GET.user %}
        <label id="LOADING2" style="margin-top: 75px;margin-left: 680px;width: 450px;height: 35px;background: green;text-align: left;padding-left: 5px;color: white"><strong>You have successfully registered.</strong></label>
        {% elif request.GET.notdash_logged_in == '0' %}
        <label id="LOADING3" style="font-family: Lato, sans-serif; margin-top: 75px;margin-left: 680px;width: 450px;height: 35px;background: #cf2222;text-align: left;padding-left: 5px;padding-top:5px;color: white"><strong>Log in to see your dashboard.</strong></label>
        {%elif request.GET.update_pass == '1' %}
        <label id="LOADING4" style="margin-top: 75px;margin-left: 680px;width: 450px;height: 35px;background: green;text-align: left;padding-left: 5px;color: white"><strong>Password successfully updated.</strong></label>
        {% endif %}


        <form action="" method="post" style="text-align: right;border-style: none;border-right-style: none;background: rgba(30,40,51,0.88);margin-top: 5px;width: 380px;max-width: 380px;">
            {%  csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline" style="color: rgb(104,171,80);"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  required></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background: rgb(104,171,80);color: rgb(0,0,0);">Log In</button></div>
            <a class="forgot" href="forget_pass">Forgot password?</a></form>


    </div>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(118,35,35);padding: 18.2px 0px;background: linear-gradient(47deg, rgb(245,255,241), rgb(245,255,241) 99%);">
        <div class="container">

            <a class="navbar-brand logo" href="#" style="background: rgba(255,255,255,0);padding-left: 10px;color: rgb(0,0,0);text-align: left;"><strong>Railsheba</strong></a>

            <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="navbar-toggler-icon" style="filter: brightness(0%);"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="http://127.0.0.1:8000/" style="color: #070606;">Home</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="login" style="color: #070606;">Log in</a></li>
                    <li class="nav-item"><a class="nav-link active" href="registration" style="color: #070606;">Register</a></li>
                    <li class="nav-item"><a class="nav-link active" href="updateinfo" style="color: #070606;">Dashboard</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="contactus" style="color: #070606;">Contact us</a></li>
                    <li class="nav-item" style="padding-right: 0px;"><a class="nav-link active"  onclick="logout()"  style="color: #070606;padding: 8px 0px 8px 8px;">Log out</a></li>
                </ul>
        </div>

        </div>
    </nav>
    <main class="text-center page lanidng-page" style="text-align: center;padding: 22px 22px 22px;"><img src="assets/img/1.png"><img src="assets/img/2.png"><img src="assets/img/3.png"><img src="assets/img/4.png"><img src="assets/img/5.png"><img src="assets/img/6.png"></main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>




</body>
<script>
function logout() {
            window.location.href = "{% url 'login' %}" +"?logged_out="+"1";
          }

</script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING').style.display = 'none';
    }, 4000);
    </script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING2').style.display = 'none';
    }, 4000);
    </script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING3').style.display = 'none';
    }, 4000);
    </script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING4').style.display = 'none';
    }, 4000);
    </script>
</html>