{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
</head>

<body>
    <div class="contact-clean" style="background: url(&quot;assets/img/train6.jpg&quot;);padding-top: 150px;">
        <form action="" method="post" style="border-top-color: rgb(206,212,218);padding-top: 40px;">
        {%  csrf_token %}
            <h2 class="text-center"><img src="assets/img/rocket.png" style="width: 100px;height: 100px;"></h2>
            <div class="form-group"><label>Mobile Account</label><input class="form-control" type="text" pattern="\d*" title="Input can be only numbers" name="name" maxlength="11" minlength="11" required></div>
            <div class="form-group"><label>PIN</label><input class="form-control" type="password" name="password" pattern="\d*" title="Input can be only numbers" maxlength="4" minlength="4" required></div>
            <div class="form-group">
                {% if amount %}
                <label style="width: 400px;margin-top: 10px;margin-bottom: 12px;">Amount: {{ amount }}</label>
                {% else %}
                <label style="width: 400px;margin-top: 10px;margin-bottom: 12px;">Amount:</label>
                {% endif %}
                <label style="width: 400px;">Currency: BDT</label></div><button class="btn btn-primary" name="btn1" id= "btn1" type="submit" onclick="disableid()" style="width: 400px;font-size: 16px;background: linear-gradient(white, rgb(81,171,90) 4%), rgb(81,171,90);filter: brightness(102%);">Send verification code</button>

            {% if request.GET.disable|slice:":1" == '1' %}
                <div class="form-group"><label style="padding-top: 10px;">Verification Code</label><input class="form-control"  type="password" name="vcode" id="otp" ></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2" required><label class="form-check-label" for="formCheck-2">I agree to the terms and conditions of service</label></div>
            <button class="btn btn-primary" type="submit" name="btn2" id="btn2" style="width: 400px;font-size: 16px;background: linear-gradient(white, rgb(81,171,90) 4%), rgb(81,171,90);filter: brightness(102%);">Proceed to pay</button></form>
            {% else %}
                <div class="form-group"><label style="padding-top: 10px; color:rgba(80,94,108,0.48);">Verification Code</label><input class="form-control" disabled type="password" name="vcode" id="otp" style="background: rgb(157,157,157,0.2);"></div>
            <button class="btn btn-primary" disabled type="submit" name="btn2" id="btn2" style="width: 400px;font-size: 16px;background: linear-gradient(rgb(157,157,157) 0% ,rgb(157,157,157) 100%);filter: brightness(102%);">Proceed to pay</button></form>
            {% endif %}
    </div>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(118,35,35);padding: 18.2px 0px;background: linear-gradient(47deg, rgb(245,255,241), rgb(245,255,241) 99%);">
        <div class="container"><a class="navbar-brand logo" href="#" style="text-align: left;background: rgba(255,255,255,0);color: rgb(0,0,0);"><strong>Railsheba</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="navbar-toggler-icon" style="filter: brightness(0%);"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="http://127.0.0.1:8000/" style="color: #070606;">Home</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="login" style="color: #070606;">Log in</a></li>
                    <li class="nav-item"><a class="nav-link active" href="registration" style="color: #070606;">Register</a></li>
                    <li class="nav-item"><a class="nav-link active" href="updateinfo" style="color: #070606;">Dashboard</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="contactus" style="color: #070606;">Contact us</a></li>
                    <li class="nav-item" style="padding-right: 0px;"><a class="nav-link active" onclick="logout()" style="color: #070606;padding: 8px 0px 8px 8px;">Log out</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="text-center page lanidng-page" style="text-align: center;padding: 22px 22px 22px;"></main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
{% if status %}
    <script>alert("{{ status }}");</script>
{% endif%}
</body>
<script>
        function disableid()
        {
            var text="1";
            window.location.href="{% url 'rocket_payment' %}"+ "?disable=" + text;
        }

</script>

</html>