{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/animation.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
</head>

<body>
    <div class="login-dark" style="background: url(&quot;assets/img/train6.jpg&quot;);color: #d9ebfb;padding: 10px;width: 100%;height: 800px;">
        {% if request.GET.not_logged_in == '0' %}
        <label id="LOADING" style="margin-top: 67px;margin-left: 1070px;width: 450px;height: 35px;background: #cf2222;text-align: left;padding-left: 5px;color: white"><strong>Please log in first to search trains.</strong></label>
            {% endif %}
        {% if request.GET.user %}
            <label id="LOADING2" style="margin-top: 67px;margin-left: 1070px;width: 450px;height: 35px;background: green;text-align: left;padding-left: 5px;color: white"><strong>You have successfully logged in.</strong></label>
            {% endif %}
        {% if request.GET.logged_in == '1' %}
        <label id="LOADING3" style="margin-top: 67px;margin-left: 1070px;width: 450px;height: 35px;background: #cf2222;text-align: left;padding-left: 5px;color: white"><strong>You are already logged in</strong></label>
        {% endif %}
        {% if request.GET.already_logged_in == '1' %}
            <label id="LOADING4" style="margin-top: 67px;margin-left: 1070px;width: 450px;height: 35px;background: #cf2222;text-align: left;padding-left: 5px;color: white"><strong>Please log out first to register.</strong></label>
        {% endif %}
           {% if request.GET.max_seat_exceeded == '1' %}
            <label id="LOADING5" style="margin-top: 67px;margin-left: 1070px;width: 450px;height: 35px;background: #cf2222;text-align: left;padding-left: 5px;color: white"><strong>Maximum 4 seats can be issued.</strong></label>
        {% endif %}
        <form action="{% url 'train' %}" method="post" style="padding-top: 10px; text-align: right;border-style: none;border-right-style: none;background: rgba(30,40,51,0.88);width:440px;max-width: 440px;margin-left: 350px;margin-top: -5pxpx;">
            {%  csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration" style="padding: 0px;"><i class="icon ion-search" style="color: rgb(104,171,80);"></i></div><small class="form-text text-light" style="width: 120px;text-align: left;font-size: 16px;margin-left: 10px;">Route</small>

                <div class="dropdown float-left" style="width: 165px;height: 38px;text-align: left;margin-bottom: 4px">
                    <select class="form-control" style="filter: brightness(200%) contrast(200%);padding: 0px;margin-left: 4px" name="to" required>
                    <option  hidden="" value="">To</option>
                        {% for name in names %}
                    <option style="color: #000000">{{ name.NAME }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="dropdown float-right" style="width: 165px;height: 38px;margin-bottom:2px;text-align: left;">
                    <select class="form-control" style="filter: brightness(200%) contrast(200%);padding: 0px" name="from" required>
                    <option  hidden="" value="">From</option>
                        {% for name in names %}
                    <option style="color: #000000">{{ name.NAME }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="form-group" style="padding-top: 50px"><small class="form-text text-muted" style="color: rgb(248,249,250);font-size: 16px;text-align: left;background: rgba(255,255,255,0);filter: brightness(200%) contrast(200%);width: 158px;margin-left: 10px">Date</small>
                <div class="dropdown float-right" style="width: 165px;height: 38px;text-align: left;">
                    <select class="form-control" style="filter: brightness(200%) contrast(200%);padding: 0px" name="class" required>
                    <option  hidden="" value="">Choose Class</option>
                    <option style="color: #000000">SNIGDHA</option>
                    <option style="color: #000000">S_CHAIR</option>
                    <option style="color: #000000">SHOVAN</option>
                </select>
            </div><input class="form-control" required type="date" name= "date" min="{{ date }}" max="{{ lastdate }}" style="opacity: 1;width: 165px;background: rgba(56,66,74,0);color: rgb(246,247,248);filter: brightness(200%) contrast(104%);padding-left: 7px"></div><small class="form-text text-left text-muted" style="color: rgb(248,249,250);font-size: 16px;filter: brightness(200%) contrast(200%);margin-left: 10px">Passengers</small>
    <input class="form-control float-right" type="text" name="child"  required placeholder="Child" style="width: 165px;filter: brightness(200%) contrast(200%);padding: 5px"><input required class="form-control float-left" type="text" name="adult" placeholder="Adult" style="width: 165px;filter: brightness(200%) contrast(200%);">
            <div class="form-group"> <label class="float-left" style="text-align: left;margin-top: 8px; color: rgba(248,249,250,0.8); font-size: 14px ">*Maximum 4 seats can be issued</label></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background: rgb(104,171,80);color: rgb(0,0,0);">Find</button></div>
        </form>
        </div>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(118,35,35);padding: 18.2px 0px;background: linear-gradient(47deg, rgb(245,255,241), rgb(245,255,241) 99%);">
            <div class="container"><a class="navbar-brand logo" href="#" style="background: rgba(255,255,255,0);padding-left: 10px;color: rgb(0,0,0);text-align: left;"><strong>Railsheba</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="navbar-toggler-icon" style="filter: brightness(0%);"></span></button>
                <div
                    class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link active" href="http://127.0.0.1:8000/" style="color: #070606;">Home</a></li>
                        <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="login" style="color: #070606;">Log in</a></li>
                        <li class="nav-item"><a class="nav-link active" href="registration" style="color: #070606;">Register</a></li>
                        <li class="nav-item"><a class="nav-link active" href="updateinfo" style="color: #070606;">Dashboard</a></li>
                        <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="contactus" style="color: #070606;">Contact us</a></li>
                        <li class="nav-item" style="padding-right: 0px;"><a class="nav-link active" onclick="logout()" style="color: #070606;padding: 8px 0px 8px 8px;">Log out</a></li>
                    </ul>
            </div>
            </div>
        </nav>


        <main class="text-center page lanidng-page" style="text-align: center;padding: 22px 22px 22px;"><img src="assets/img/1.png"><img src="assets/img/2.png"><img src="assets/img/3.png"><img src="assets/img/4.png"><img src="assets/img/5.png"><img src="assets/img/6.png"></main>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
        <script src="assets/js/theme.js"></script>





</body>
<script>
function logout() {
            window.location.href = "{% url 'login' %}" +"?logged_out="+"1";
          }


</script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING').style.display = 'none';
    }, 4000);
    </script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING2').style.display = 'none';
    }, 4000);
    </script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING3').style.display = 'none';
    }, 4000);
    </script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING4').style.display = 'none';
    }, 4000);
    </script>
<script>
    setTimeout(function(){
        document.getElementById('LOADING5').style.display = 'none';
    }, 4000);
    </script>

</html>