{% load static %}
<!DOCTYPE html>
<html style="background: #ffffff;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ticket purchase successful</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Toggle-Switches.css">
</head>

<body style="padding: 10px;margin: 5px;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(118,35,35);padding: 18.2px 0px;background: linear-gradient(47deg, rgb(245,255,241), rgb(245,255,241) 99%);">
        <div class="container"><a class="navbar-brand logo" href="#" style="text-align: left;background: rgba(255,255,255,0);color: rgb(0,0,0);"><strong>Railsheba</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="navbar-toggler-icon" style="filter: brightness(0%);"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="http://127.0.0.1:8000/" style="color: #070606;">Home</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="login" style="color: #070606;">Log in</a></li>
                    <li class="nav-item"><a class="nav-link active" href="registration" style="color: #070606;">Register</a></li>
                    <li class="nav-item"><a class="nav-link active" href="updateinfo" style="color: #070606;">Dashboard</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active" href="contactus" style="color: #070606;">Contact us</a></li>
                    <li class="nav-item" style="padding-right: 0px;"><a class="nav-link active" onclick="logout()"  style="color: #070606;padding: 8px 0px 8px 8px;">Log out</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div style="height: 50px;margin-top: 100px;margin-left: 50px;"><label style="height: 50px;font-size: 36px;margin-bottom: 0px;"><strong>Your request to book e-ticket for your journey was successful!!</strong></label><i class="icon ion-android-happy" style="margin-left: 8px;font-size: 36px;"></i></div>
    <div style="height: 30px;margin-left: 50px;margin-top: 10px;"><label style="font-size: 24px;margin-top: 0px;margin-bottom: 0px;"><strong>** </strong>A copy of your e-ticket has been sent to the provided e-mail address</label></div>
    <div style="height: 50px;margin-left: 50px;margin-top: 20px;"><label style="padding-left: 10px;width: 95%;background: rgb(81,171,90);margin-top: 0px;font-size: 24px;filter: brightness(102%);">Journey Information</label></div>
    <div class="table-responsive" style="margin-left: 38px;margin-top: 10px;margin-right:50px;padding: 15px;">
        <table class="table" style="width:90%;margin-right:50px;">
            <thead>
                <tr>
                    <th>Train ID</th>
                    <th>{{ train_id }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 600px;"><strong>Train Name</strong></td>
                    <td><strong>{{ name }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Originating Station(From Station)</strong></td>
                    <td><strong>{{from }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Destination Station(To Station)</strong></td>
                    <td><strong>{{to }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Class Name</strong></td>
                    <td><strong>{{class }}</strong></td>
                </tr>
                <tr>
                    <td><strong>No. of total seats</strong></td>
                    <td><strong>{{ total_seats }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Total fare</strong></td>
                    <td><strong>{{ amount }} BDT</strong></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" type="button" onclick="getid()" style="margin-left:15px;margin-bottom: 20px;margin-top: 10px; width: 400px;font-size: 16px;color: rgb(0,0,0); background: rgb(81,171,90);filter: brightness(102%);">Download Ticket</button>
    </div><label style="font-size: 24px;margin-left: 50px;margin-bottom: 10px;"><strong>Please note</strong></label>
    <ul style="margin-left: 26px;margin-bottom: 10px;">
        <li style="font-size: 16px;">This ticket will be valid on production of Photo Identity Card of the passenger only</li>
        <li style="font-size: 16px;">Please do not share the PIN information with anybody.</li>
        <li style="font-size: 16px;">The concerned authority and/or its affiliates will not be responsible for misused PIN information</li>
    </ul>
    <div style="height: 50px;margin-top: 10px;"><label style="font-size: 36px;margin-left: 50px;"><strong>Thank you for being with team Ishtishon</strong></label></div>
    <main class="text-center page lanidng-page" style="text-align: center;padding: 22px 22px 22px;"><img src="assets/img/1.png"><img src="assets/img/2.png"><img src="assets/img/3.png"><img src="assets/img/4.png"><img src="assets/img/5.png"><img src="assets/img/6.png"></main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>
<script>
function logout() {
            window.location.href = "{% url 'login' %}" +"?logged_out="+"1";
          }

</script>
<script>

    function getid() {

            window.location.href = "{% url 'ticket' %}";
            //window.location.href = "{% url 'ticket' %}"+"?download=1";
          }



</script>

</html>