{% load static %}
<!DOCTYPE html>
<html style="background: #ffffff;">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#flip").click(function(){
        $("#panel").slideToggle("slow");
      });
    });
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ইস্টিশন</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Toggle-Switches.css">
    <link rel="stylesheet" href="assets/css/collapsible.css">
    <link rel="stylesheet" href="assets/css/success.css">
    <link rel="stylesheet" href="assets/css/animation1.css">
    <link rel="stylesheet" href="{% static "assets/css/success.css" %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
</head>

<body style="padding-bottom: 0px;">
<div style="padding: 10px;margin-top: 10px;margin-right: 180px;padding-left: 380px;padding-right: 380px;padding-top: 100px;">
    <section style="text-align:center;width: 760px;margin-bottom:15px;background-color: rgb(240,255,234);padding-left: 15px;padding-right:15px;padding-bottom: 50px;padding-top: 50px;">
    <div class="dummy-positioning d-flex" style="height: 100px;margin-bottom: -40px;">
      <div class="success-icon">
        <div class="success-icon__tip"></div>
        <div class="success-icon__long"></div>
      </div>
    </div>
       <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(118,35,35);padding: 18.2px 0px;background: linear-gradient(47deg, rgb(240,255,234), rgb(240,255,234) 99%);">
            <div class="container">
                <strong><img src="assets/img/testlogo.png" style="cursor:context-menu;width: 120px;height: 70px;margin-top: -20px;margin-bottom: -13px"></strong>
                <div class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active link link-four pulse-grow-on-hover" href="http://127.0.0.1:8000/" style="color: #070606;background-color: #f5fff1;padding: 0px;">Home</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active link link-four pulse-grow-on-hover" href="login" style="color: #070606;background-color: #f5fff1;padding: 0px;">Log in</a></li>
                    <li class="nav-item"><a class="nav-link active link link-four pulse-grow-on-hover" href="registration" style="color: #070606;background-color: #f5fff1;padding: 0px;">Register</a></li>
                    <li class="nav-item"><a class="nav-link active link link-four pulse-grow-on-hover" href="updateinfo" style="color: #070606;background-color: #f5fff1;padding: 0px;">Dashboard</a></li>
                    <li class="nav-item" style="color: #070606;"><a class="nav-link active link link-four pulse-grow-on-hover" href="contactus" style="color: #070606;background-color: #f5fff1;padding: 0px;">Contact us</a></li>
                    <li class="nav-item" style="cursor:pointer;padding-right: 0px;"><a class="nav-link active link link-four pulse-grow-on-hover" onclick="logout()" style="color: #070606;background-color: #f5fff1;padding: 0px;">Log out</a></li>
                </ul>
        </div>
            </div>
        </nav>
    <div style="height: 50px;margin-top: 90px;"><label data-aos="fade" data-aos-delay="0" style="height: 50px;font-size: 34px;margin-bottom: 0px;"><strong>E-ticket Booking Successful!!</strong></label><i class="icon ion-android-happy" style="margin-left: 8px;font-size: 36px;"></i></div>
    <div style="height: 30px;margin-top: 10px;margin-bottom: 20px;"><label data-aos="fade" data-aos-delay="50" style="font-size: 16px;margin-top: 0px;margin-bottom: 0px;"><strong>** </strong>A confirmation mail has been sent to the provided e-mail address</label></div>
    <button data-aos="fade" data-aos-delay="100" class="btn btn-primary" type="button" id="flip" style="margin-top: 10px;text-align: center;margin-bottom: 10px;margin-top: 5px; width: 380px;font-size: 16px;color: rgb(0,0,0); background: rgb(81,171,90);filter: brightness(102%);">See Journey Details</button>
    <div id="panel" style="background-color:  rgb(233,242,229);">
        <div style="height: 50px;margin-left: 5px;margin-right: 5px;margin-top: 0px;"><label style="width:100%;padding-left: 5px;background: #58a25b;margin-top: 0px;font-size: 24px;filter: brightness(102%);">Journey Information</label></div>
        <div class="table-responsive" style="margin-left: 0px;margin-right:0px;padding: 0px;">
            <table class="table" style="text-align: left;padding-left: 10px;font-size: 12px; margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th>Train ID</th>
                        <th>{{ train_id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style=""><strong>Train Name</strong></td>
                        <td><strong>{{ name }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Originating Station(From Station)</strong></td>
                        <td><strong>{{from }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Destination Station(To Station)</strong></td>
                        <td><strong>{{to }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Class Name</strong></td>
                        <td><strong>{{class }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>No. of total seats</strong></td>
                        <td><strong>{{ total_seats }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Total fare</strong></td>
                        <td><strong>{{ amount }} BDT</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <br><button class="btn btn-primary" data-aos="fade" data-aos-delay="150" type="button" onclick="getid()" style="border-style:none;text-align: center;margin-bottom: 20px;margin-top: 10px; width: 380px;font-size: 16px;color: rgb(0,0,0); background: rgb(81,171,90);filter: brightness(102%);">Download Ticket</button><br>
    <div style="text-align: left;padding-left: 30px;padding-right: -15px;">
    <label data-aos="fade" data-aos-delay="200" style="font-size: 20px;margin-bottom: 10px;padding-left: 23px;"><strong>Please note</strong></label>
    <ul style="margin-bottom: 10px;">
        <li data-aos="fade" data-aos-delay="220" style="font-size: 14px;">This ticket will be valid on production of Photo Identity Card of the passenger only</li>
        <li data-aos="fade" data-aos-delay="240" style="font-size: 14px;">Please do not share the PIN information with anybody.</li>
        <li data-aos="fade" data-aos-delay="260" style="font-size: 14px;">The concerned authority and/or its affiliates will not be responsible for misused PIN information</li>
    </ul>
        </div>
    <div data-aos="zoom-in" data-aos-delay="320" style="height: 50px;margin-top: 10px;text-align: center;"><label style="font-size: 26px;padding-top: 5px;"><strong>Thank you for being with team ইস্টিশন</strong></label></div>
    </section>
</div>

    <main class="text-center page lanidng-page" style="text-align: center;padding: 22px 22px 22px;box-shadow: inset 0px 1px 10px 0px rgb(230,230,230);margin-top: 85px;"><img src="assets/img/1.png"><img src="assets/img/2.png"><img src="assets/img/3.png"><img src="assets/img/4.png"><img src="assets/img/5.png"><img src="assets/img/6.png"></main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
          <script>
            AOS.init(
                {
                    offset: 0, // offset (in px) from the original trigger point
                    once: true,
                    mirror:true,
                    duration: 1800, // values from 0 to 3000, with step 50ms
                }
            );
          </script>

</body>
<script>
function logout() {
            window.location.href = "{% url 'login' %}" +"?logged_out="+"1";
          }

</script>
<script>

    function getid() {

            window.location.href = "{% url 'ticket' %}";
            //window.location.href = "{% url 'ticket' %}"+"?download=1";
          }



</script>

</html>