@keyframes jump{
   0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

.jump {
    animation: jump 0.7s ease 2s infinite alternate;
}
.slide-right {
  position: absolute;
  display: block;
	top: 2em;

  width: 60%;
  font-size: 2em;
    color: whitesmoke;
    animation-name:slide-right ;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}


@keyframes slide-right {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}
